    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                /* top nav */
                nav {
                    list-style-type: none;
                    margin: 0;
                    padding: 10px;
                    overflow: hidden;
                    background-color: rgb(29, 43, 79);
                    font-size: 15px;
                }
    
                button {
                    float: right;
                }
    
                a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
                .button {
                    
                    border: none;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    
                    margin: 8px 6px;
                    cursor: pointer;
                    }
    
                .button1 {
                    padding: 4px;
                    
                }
    
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                    margin-top: 10px;
                }
    
                td, th {
                    border-bottom: 1px solid #d3d1d1;
                    text-align: left;
                    padding: 8px;
                }
    
                body {font-family: Arial, Helvetica, sans-serif;}
                * {box-sizing: border-box;}
    
                /* Button used to open the contact form - fixed at the bottom of the page */
                .open-button {
                background-color: #555;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 23px;
                right: 28px;
                width: 280px;
                }
    
                /* The popup form - hidden by default */
                .form-popup {
                display: none;
                position: fixed;
                bottom: 0;
                right: 15px;
                border: 3px solid #f1f1f1;
                z-index: 9;
                margin-right: 500px;
                margin-bottom: 100px;
                }
    
                /* Add styles to the form container */
                .form-container {
                max-width: 300px;
                padding: 10px;
                background-color: white;
                }
    
                /* Full-width input fields */
                .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
                }
    
                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                outline: none;
                }
    
                /* Set a style for the submit/login button */
                .form-container .btn {
                background-color: #04AA6D;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom:10px;
                opacity: 0.8;
                }
    
                /* Add a red background color to the cancel button */
                .form-container .cancel {
                background-color: red;
                }
    
                /* Add some hover effects to buttons */
                .form-container .btn:hover, .open-button:hover {
                opacity: 1;
                }
    
                
            </style>
        </head>
    <body>

        <!-- nav bar -->
        
        <nav>
            <a style="float:left" href="">Manage <b>Employes</b></a>
            <button class="button button1" style="background-color: #00c624;" onclick="openForm()">Add New Employes</button>
            <button class="button button1" style="background-color: #c60000;">Delete</button>
            
        </nav>

        <table>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            <%if(user_data.length>0){%>
            <%for(let i in user_data){%>
                <tr>
                    <td><input type="checkbox" id="" name="" value=""></td>
                    <td><%= user_data[i].name%></td>
                    <td><%= user_data[i].email%></td>
                    <td><%= user_data[i].phone%></td>
                    <td><%= user_data[i].address%></td>
                    <td><button type="Delete" class="button button1" style="background-color: #c60000;">
                        <a onclick="deleteUser('<%= user_data[i]._id%>')">Delete</a>
                    </button></td>
                </tr>

                
                
                <%}%>

                <%}else{%>
                    <td colspan="6" style="text-align: center;">
                        No record found!
                    </td>
            <%}%>

        
        </table>

        <div class="form-popup" id="myForm">
            <form action="/home" method="post" class="form-container">
                <h1>Add Employes</h1>

                <label for="name">Name</label>
                <input type="text" name="name" required>

                <label for="email">Email</label>
                <input type="text" name="email" required>

                <label for="address">Address</label>
                <input type="text" name="address" required>

                <label for="phone">Phone</label>
                <input type="text" name="phone" required>

                <button type="submit" class="btn">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>

        <script>
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }

        function deleteUser(userID){
            if(window.confirm('Do you want to delete this record?')){
                console.log(userID)
                window.location.href = `${window.location.protocol}//${window.location.host}/delete/${userID}`;
            }
        }
        </script>

        
    </body>

    </html>